.footer {
    margin-top: 3rem;
    text-align:center;
    font-size:.9rem
}
.div-hr-style-top {
    border-top: 1px solid silver;
    border-bottom: 1px solid gold;
    height: .3rem;
    margin-bottom: -2.5rem;
    margin-top:3rem;
}
